:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    height: 100dvh;

    padding: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0.5em 0;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1rem;
}

/*
    Content which should only be read by a screen reader.
    This class is shamelessly ripped from TailwindCSS.
*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.placeholder {
    margin: 24px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeholder > svg {
    width: 48px;
    height: 48px;

    fill: rgb(0 0 0 / .7);
}

.placeholder > h3 {

}

.placeholder > p {

}

.leaflet-container {
    background-color: #fcf8f4;
}

.rts-bus-icon {
    margin-left: -8px;
    margin-top: -16px;
}

.rts-bus-icon,
.rts-bus-icon > svg {
    width: 16px;
    height: 32px;
}
